@model DKAC.Models.InfoModel.KhachHangInfo

@{
    ViewBag.Title = "Chỉnh sửa khách hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>Chỉnh sửa khách hàng</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li style="margin-right: 10px"><a href="/KhachHang"><i class="fa fa-list"></i>Danh sách</a></li>
                <li class="active">
                    <span>Chỉnh sửa: @Model.ten_khach_hang</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "Id" })
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mã khách hàng: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ma_khach_hang, new { @class = "form-control", @id = "ma_khach_hang", @maxlength = "50", @disable = "true"})
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ma_khach_hang)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tên khách hàng: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ten_khach_hang, new { @class = "form-control", @id = "ten_khach_hang", @maxlength = "500" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ten_khach_hang)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Địa chỉ: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.dia_chi, new { @class = "form-control", @id = "dia_chi", @maxlength = "500" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.dia_chi)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mã số thuế: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ma_so_thue, new { @class = "form-control", @id = "ma_so_thue", @maxlength = "20" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ma_so_thue)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Số điện thoại: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.dien_thoai, new { @class = "form-control", @id = "dien_thoai", @maxlength = "15" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.dien_thoai)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Fax: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.fax, new { @class = "form-control", @id = "fax", @maxlength = "15" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.fax)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Email: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.email, new { @class = "form-control", @id = "email", @maxlength = "200", @type = "email" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.email)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Người đại diện: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.nguoi_dai_dien, new { @class = "form-control", @id = "nguoi_dai_dien", @maxlength = "50" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.nguoi_dai_dien)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Chức vụ: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.chuc_vu, new { @class = "form-control", @id = "chuc_vu", @maxlength = "50" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.chuc_vu)
                        </div>
                    </div>
                </div>

            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="Update()" class="btn btn-primary" id="btnLuu" style="width: 10%">Lưu</button>
                <a type="button" class="btn btn-success" href="/KhachHang" style="width: 10%">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/login/vendor/select2/select2.min.js"></script>
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/assets/login/vendor/datepicker/daterangepicker.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>

<script type="text/javascript">

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });
    });

    $("#ma_khach_hang").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });

    function Update() {
        var data = {
            id: $('#Id').val() * 1,
            ma_khach_hang: $('#ma_khach_hang').val().trim(),
            ten_khach_hang: $('#ten_khach_hang').val().trim(),
            dia_chi: $('#dia_chi').val().trim(),
            ma_so_thue: $('#ma_so_thue').val().trim(),
            dien_thoai: $('#dien_thoai').val().trim(),
            fax: $('#fax').val().trim(),
            email: $('#email').val().trim(),
            nguoi_dai_dien: $('#nguoi_dai_dien').val().trim(),
            chuc_vu: $('#chuc_vu').val().trim()
        };

        var title = "Bạn có đồng ý cập nhật không?";
        var url = '/KhachHang/Edit';

        if ($("form#edit").valid()) {
            swal({
                title: title,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/SanPham';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }


</script>