
@model DKAC.Models.InfoModel.DonHangInfo
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #f9fcff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .table-bordered td, .table-bordered th {
        padding: 5px !important;
        vertical-align: middle !important;
    }

    svg:not(:root).svg-inline--fa {
        color: red;
    }

    .lock {
        color: black;
        background-color: white;
        border: none;
    }

    .home {
        color: #1bbd36 !important;
    }

    .inputText {
        padding: 3px !important;
        font-size: 14px !important;
    }

    .form-group {
        margin-bottom: 0;
    }


    margin-top-15 {
        margin-top: 15px !important;
    }

    .modal-header {
        background-color: #0076d2;
        color: white;
    }

    .modal-content {
        border: #d0d0d0 solid 2px !important;
        background-color: #fff7ec;
    }

    .ui-autocomplete {
        z-index: 1000;
    }


    .p-l-0 {
        padding-left: 0px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important
    }
</style>

<head>
    <title>Chi tiết phiếu</title>
</head>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 uppercase">
                    <h2>XEM CHI TIẾT PHIẾU</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home home"></i> Home</a></li>
                <li class="active">
                    <span>Chi tiết</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            <div class="form-group">
                <input type="hidden" class="form-control" id="id" value="@Model.id" disabled />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG THÔNG TIN CHUNG VỀ SẢN PHẨM</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Số LSX: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="so_lenh_sx" value="@Model.so_lenh_sx" disabled />
                        <div class="valid" style="color: red; font-style: italic;">
                            <div class="textNoti" id="textvalid">
                                <!--hiển thị thông báo-->
                            </div>
                        </div>

                    </div>

                    <div class="col-md-2 text-right">
                        <label>Ngày: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="created_date" value="@(Model.created_date.HasValue?Model.created_date.Value.ToString("dd/MM/yyyy") : "")" placeholder="dd/MM/yyyy" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Loại: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="loai" value="@Model.loai" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Lần sửa dổi: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="number" min="0" class="form-control" id="lan_dieu_chinh" value="@Model.lan_dieu_chinh" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Phiếu ĐNSX số: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="phieu_dnsx_so" value="@Model.phieu_dnsx_so" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Nhân Viên Kinh Doanh: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nv_kinh_doanh" value="@Model.nv_kinh_doanh" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ma_khach_hang" value="@Model.ma_khach_hang" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_khach_hang" value="@Model.ten_khach_hang" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ma_san_pham" value="@Model.ma_san_pham" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_san_pham" value="@Model.ten_san_pham" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Nhà cung cấp vật tư: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nha_cc" value="@Model.nha_cc" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Khổ TP: </label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control" id="kho_doc" value="@Model.kho_doc" placeholder="Dài" disabled />
                    </div>

                    <div class="col-md-2">
                        <input type="text" class="form-control" id="kho_ngang" value="@Model.kho_ngang" placeholder="Rộng" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-2 text-right">
                        <label>Ngày giao hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ngay_giao_hangMH3" value="@(Model.ngay_giao_hang.HasValue ? Model.ngay_giao_hang.Value.ToString("dd/MM/yyyy"): "")" placeholder="dd/MM/yyyy" disabled />
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <hr />

                <!--Bảng nội dung CTP-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>NỘI DUNG CTP</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width: 50px;">STT</th>
                                            <th class="text-center" rowspan="2" style="width: 150px;">Nhóm vật tư</th>
                                            <th class="text-center" rowspan="2" style="width: 270px;">Tay in</th>
                                            <th class="text-center" rowspan="2" style="width: 100px">Trang</th>
                                            <th class="text-center" rowspan="2" style="width: 100px">Loại giấy</th>
                                            <th class="text-center" rowspan="2" style="width: 120px">Định lượng giấy</th>
                                            <th class="text-center" colspan="2">Kiểu in</th>
                                            <th class="text-center" rowspan="2" style="width: 200px">Ghi chú</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width: 120px">Kiểu in trên</th>
                                            <th class="text-center" style="width: 120px">Kiểu in dưới</th>
                                        </tr>

                                        <tbody id="appendixTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Quy cách chung: </label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(a=>a.quy_cach_chung, new Dictionary<string, object>
                              {
                                  {"class", " form-control"},
                                    {"id", "quy_cach_chung"},
                                     { "maxlength", "2001" },
                                     { "row", "3" },
                                     { "disabled", "disabled" },
                              })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Nhân viên quản lý đơn hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_ql" value="@Model.ten_can_bo_ql" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Số điện thoại: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="phone_number" value="@Model.phone_number" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Email: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="email" value="@Model.email" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Người duyệt: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_kt" value="@Model.ten_can_bo_kt" disabled />
                    </div>
                </div>
                <hr />
                <!--//////////////////////////////End tổng quan đơn hàng, start dự toán vật tư/////////////////////////////-->

                <div class="row" style="margin-top:40px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG DỰ TOÁN VẬT TƯ SẢN XUẤT</label></h2>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <!--Bảng nội dung dự toán-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>BẢNG DỰ TOÁN VẬT TƯ</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTableMH2">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="3" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="3" style="width:50px">Số lượng</th>
                                            <th class="text-center" colspan="4" style="width:320px">Quy cách loại vật tư</th>
                                            <th class="text-center" rowspan="3" style="width:70px">Mã vật tư</th>
                                            <th class="text-center" rowspan="3" style="width:50px">Trang/tờ</th>
                                            <th class="text-center" rowspan="3" style="width:60px">Định mức</th>
                                            <th class="text-center" colspan="4" style="width:240px">Số lượng</th>
                                            <th class="text-center" rowspan="3" style="width:60px">Đơn vị tính</th>
                                            <th class="text-center" rowspan="3" style="width:60px">Quy ký</th>
                                            <th class="text-center" rowspan="3" style="width:110px">Mục đích sử dụng</th>
                                            <th class="text-center" rowspan="3" style="width:70px">CC vật tư</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:130px">Vật tư</th>
                                            <th class="text-center" rowspan="2" style="width:70px">Định lượng giấy</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ giấy</th>
                                            <th class="text-center" rowspan="2" style="width:60px">Chính</th>
                                            <th class="text-center" rowspan="2" style="width:60px">Bù in</th>
                                            <th class="text-center" rowspan="2" style="width:60px">Bù TP</th>
                                            <th class="text-center" rowspan="2" style="width:60px">Tổng</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                        </tr>

                                        <tbody id="appendixTbodyMH2"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
                <!--//////////////////////////////End dự toán vật tư, start lệnh sản xuất/////////////////////////////-->

                <div class="row" style="margin-top:40px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG LỆNH SẢN XUẤT</label></h2>
                    </div>
                    <div class="col-md-2"></div>
                </div>

                <!--Bảng số lượng tổng-->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 margin-top-10">
                        <div class="table-responsive" style="border: 1px solid black !important;overflow-y: hidden;overflow-x: hidden;">
                            <table class="table table-striped table-bordered info-materials" id="printTableSLTong" style="margin-bottom:0px !important">
                                <tr style="background-color: white; color: black;">
                                    <th class="text-center" style="width:30px">STT</th>
                                    <th class="text-center" style="width:250px">
                                        <div class="row">
                                            <div class="col-md-3 text-left">
                                                <label>Số lượng tổng:</label>
                                            </div>
                                            <div class="col-md-9 text-left">
                                                <input type="text" class="form-control" id="so_luong_tong" value="@Model.so_luong_tong" disabled />
                                            </div>
                                        </div>

                                    </th>
                                </tr>

                                <tbody id="appendixPrintTbodySLTong"></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <hr />

                <!--I. Quy cách sản phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-3">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>I. QUY CÁCH SP</u>
                                </label>
                            </div>

                            <div class="col-md-6">
                                <div class="table-responsive" style="border: 1px solid black !important;">
                                    <table class="table table-striped table-bordered" style="border: 1px solid black !important; margin-bottom: 0px" id="tableQuyCachMH3">

                                        <tbody id="appendQuyCachTbodyMH3"></tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="col-md-3">
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <!--Bảng nội dung Chế bản-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-2">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>II. CHẾ BẢN</u>
                                </label>
                            </div>
                            <div class="col-md-2 text-right" style="padding-top: 10px;">
                                <label>Thời gian giao file:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="cb_thoi_gian_giao" value="@Model.cb_thoi_gian_giao" disabled />
                            </div>
                        </div>

                        <div class="row span">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-2 text-right" style="padding-top: 10px;">
                                <label>Ghi chú đặc biệt:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="cb_ghi_chu" value="@Model.cb_ghi_chu" disabled />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTableMH3">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="2" style="width:250px">Tay in</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Số kẽm</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Số bộ</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Tổng</th>
                                            <th class="text-center" rowspan="2" style="width:150px">Trang/khổ in</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ in</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Khổ kẽm</th>
                                            <th class="text-center" rowspan="2" style="width:150px">PP in</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                        </tr>

                                        <tbody id="appendixTbodyMH3"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <hr />

                <!--Bảng In-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-2">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>III. IN</u>
                                </label>
                            </div>
                            <div class="col-md-2 text-right" style="padding-top: 10px;">
                                <label>Ghi chú đặc biệt:</label>
                            </div>
                            <div class="col-md-8">
                                <input type="text" class="form-control" id="in_ghi_chu" value="@Model.in_ghi_chu" disabled />
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="printTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="2" style="width:180px">Tay in</th>
                                            <th class="text-center" rowspan="2" style="width:100px">Loại giấy</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Định lượng</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ giấy</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Chính</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Bù in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Bù TP</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Tổng</th>
                                            <th class="text-center" rowspan="2" style="width:100px">PP in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số kg</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số lượt in quy đổi</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số lượt in thực tế</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                        </tr>

                                        <tbody id="appendixPrintTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="in_ghi_chu" value="@Model.in_ghi_chu" disabled />
                    </div>
                </div>
                @*<div class="row">
                        <div class="col-md-2">
                            <label>Thời hạn giao bán thành phẩm:</label>
                        </div>
                        <div class="col-md-10">
                            <input type="text" class="form-control" id="in_thoi_gian_giao" value="@Model.in_thoi_gian_giao" disabled />
                        </div>
                    </div>*@

                <hr />
                <!--IV Thành phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>IV. THÀNH PHẨM</u>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top-40">Thành phẩm chung:</label>
                    </div>

                    <div class="col-md-10">
                        @Html.TextAreaFor(a=>a.thanh_pham_chung, new Dictionary<string, object>
                              {
                                  {"class", " form-control"},
                                    {"id", "thanh_pham_chung"},
                                     { "maxlength", "2000" },
                                     { "row", "3" },
                                     { "disabled", "disabled" },
                              })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top-40">Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(a=>a.tp_ghi_chu, new Dictionary<string, object>
                              {
                                  {"class", " form-control"},
                                    {"id", "tp_ghi_chu"},
                                     { "maxlength", "2000" },
                                     { "row", "3" },
                                     { "disabled", "disabled" },
                              })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Thời hạn giao thành phẩm:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="tp_thoi_han" value="@Model.tp_thoi_han" disabled />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Người lập lệnh sản xuất:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_qlMH3" disabled value="@Model.ten_can_bo_ql" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Người duyệt:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_ktMH3" disabled value="@Model.ten_can_bo_kt" />
                    </div>
                </div>

            </div>
        </form>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-12 text-right">
                <a href="/Material" class="btn btn-primary" style="width: 8%">Quay lại</a>
            </div>
        </div>
    </div>
</div>

<!-- Modal content-->
<div class="modal" id="Modal-StageTranfer" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle"><b>Thêm mới nhóm vật tư</b></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="row">
                    <div class="col-md-12">
                        <label for="displayOrder">Tên nhóm vật tư</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="materialTypeName" />
                        </div>
                        <div style="margin-top: 5px; color: red; font-style: italic;" id="notiMaterialName">

                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" style="background-color: red;" data-dismiss="modal">Đóng</button>
                <button onclick="UpdateMaterialType()" type="button" class="btn btn-primary">Lưu</button>
            </div>
        </div>
    </div>
</div>

<!--Js file-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>
<script src="~/Scripts/JSLINQ-vsdoc.js"></script>
<script src="~/Scripts/JSLINQ.js"></script>


@section scripts {
    <script type="text/javascript">

        var lstMaterialType = @Html.Raw(Json.Encode(Model.lstMaterialType));
        var lstAppendix = @Html.Raw(Json.Encode(Model.lstVatTus));
        var lstAppendixMH2 = @Html.Raw(Json.Encode(Model.lstChiTietDuToans));
        var lstAppendixMH3 = @Html.Raw(Json.Encode(Model.lstChiTietCheBans));
        var lstAppendixPrint = @Html.Raw(Json.Encode(Model.lstChiTietIns));
        var lstAppenSLTong = @Html.Raw(Json.Encode(Model.lst_sl_tong));

        $(document).ready(function () {

            var html = generateHtmlAppendix(lstAppendix);
            $('#appendixTbody').html(html);

            var htmlDuToan = generateHtmlAppendMH2(lstAppendixMH2);
            $('#appendixTbodyMH2').html(htmlDuToan);

            var htmlSLTong = generateHtmlAppendSoLuongTong(lstAppenSLTong);
            $('#appendixPrintTbodySLTong').html(htmlSLTong);

            var query = JSLINQ(lstAppendix).OrderBy(function (item) { return item.nhom_vat_tu_id; }).Distinct(function (item) { return item.nhom_vat_tu_id; }).ToArray();
            for (var i = 0; i < query.length; i++) {
                var quycach = JSLINQ(lstAppendix).Where(function (item) { return item.nhom_vat_tu_id == query[i]; }).ToArray();
                var htmlQuyCach = generateHtmlQuyCachRowMH3(quycach);
                $("#tableQuyCachMH3 #appendQuyCachTbodyMH3").append(htmlQuyCach);
            }
            //fill bảng quy cách
            //var lstQuyCach = [];
            //var lstQuyCachBia = [];
            //var lstQuyCachRuot = [];
            //var lstQuyCachThuong = [];
            //var lstTemp = lstAppendix;
            //for (var i = 0; i < lstTemp.length; i++) {
            //    if (lstTemp[i].ten_nhom_vat_tu != null && lstTemp[i].ten_nhom_vat_tu.trim().toLowerCase().startsWith("bìa")) {
            //        lstQuyCachBia.push(lstTemp[i]);
            //    }
            //    else if (lstTemp[i].ten_nhom_vat_tu != null && lstTemp[i].ten_nhom_vat_tu.trim().toLowerCase().startsWith("ruột")) {
            //        lstQuyCachRuot.push(lstTemp[i]);
            //    }
            //    else { lstQuyCachThuong.push(lstTemp[i]) }
            //}
            //// bìa
            //var quycachBiaConvert = JSLINQ(lstQuyCachBia).OrderBy(function (item) { return item.ten_nhom_vat_tu; }).Distinct(function (item) { return item.nhom_vat_tu_id; }).ToArray();
            //for (var j = 0; j < quycachBiaConvert.length; j++) {
            //    var quycachbia = JSLINQ(lstQuyCachBia).Where(function (item) { return item.nhom_vat_tu_id == quycachBiaConvert[j]; }).ToArray();
            //    var htmlQuyCachBia = generateHtmlQuyCachRowMH3(quycachbia);
            //    $("#tableQuyCachMH3 #appendQuyCachTbodyMH3").append(htmlQuyCachBia);
            //}
            //// ruột
            //var quycachRuotConvert = JSLINQ(lstQuyCachRuot).OrderBy(function (item) { return item.ten_nhom_vat_tu; }).Distinct(function (item) { return item.nhom_vat_tu_id; }).ToArray();
            //for (var j = 0; j < quycachRuotConvert.length; j++) {
            //    var quycachruot = JSLINQ(lstQuyCachRuot).Where(function (item) { return item.nhom_vat_tu_id == quycachRuotConvert[j]; }).ToArray();
            //    var htmlQuyCachRuot = generateHtmlQuyCachRowMH3(quycachruot);
            //    $("#tableQuyCachMH3 #appendQuyCachTbodyMH3").append(htmlQuyCachRuot);
            //}
            //// thường
            //var quycachThuongConvert = JSLINQ(lstQuyCachThuong).OrderByDescending(function (item) { return item.ten_nhom_vat_tu; }).Distinct(function (item) { return item.nhom_vat_tu_id; }).ToArray();
            //for (var j = 0; j < quycachThuongConvert.length; j++) {
            //    var quycachthuong = JSLINQ(lstQuyCachThuong).Where(function (item) { return item.nhom_vat_tu_id == quycachThuongConvert[j]; }).ToArray();
            //    var htmlQuyCachThuong = generateHtmlQuyCachRowMH3(quycachthuong);
            //    $("#tableQuyCachMH3 #appendQuyCachTbodyMH3").append(htmlQuyCachThuong);
            //}

            var htmlCheBan = generateHtmlAppendixMH3(lstAppendixMH3);
            $('#appendixTbodyMH3').html(htmlCheBan);

            var htmlIn = generateHtmlAppendixPrint(lstAppendixPrint);
            $('#appendixPrintTbody').html(htmlIn);
        });

        /////////////////////Tự fill bảng tổng quan ///////////////////////////
        function generateHtmlAppendix(lstAppendix) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppendix.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendixRow(lstAppendix[i], i);
            }
            return htmlAllRows;
        }

        function generate(appendix, index) {
            var htmlRow = `<select disabled class="form-control nhom_vat_tu_id selcted2" required style="width: 100%">`;
            htmlRow += `<option value="" ${appendix.nhom_vat_tu_id == '' ? 'selected' : ''}></option >`;
            for (var i = 0; i < lstMaterialType.length; i++) {
                htmlRow += `<option value = "${lstMaterialType[i].Id}" ${lstMaterialType[i].Id == appendix.nhom_vat_tu_id ? 'selected' : ''}> ${lstMaterialType[i].MaterialTypeName}</option> `;
            }
            htmlRow += `</select>`
            return htmlRow;
        }

        function generateHtmlAppendixRow(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                                <td id="STT" class="text-center">${index + 1}</td>
                                <td>
                                    ${generate(appendix, index)}
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText ten" value="${appendix.ten == null ? '' : appendix.ten}" />
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText trang" value="${appendix.trang == null ? '' : appendix.trang}" />
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText loai_giay" oninput="AutocompleteLoaiGiay(this)" value="${appendix.loai_giay == null ? '' : appendix.loai_giay}" />
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText dinh_luong_giay" value="${appendix.dinh_luong_giay == null ? '' : appendix.dinh_luong_giay}" />
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText kieu_in_1" value="${appendix.kieu_in_1 == null ? '' : appendix.kieu_in_1}" />
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText kieu_in_2" value="${appendix.kieu_in_2 == null ? '' : appendix.kieu_in_2}" />
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText ghi_chu" value="${appendix.ghi_chu == null ? '' : appendix.ghi_chu}" />
                                </td>
                            </tr>`
        }
        ////////////////////////Kết thúc bảng tổng quan/////////////////////////


        /////////////////////////tự fill bảng dự toán vật tư //////////////////////////////////////
        function generateHtmlAppendMH2(lstAppenMH2) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppenMH2.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendixRowMK2(lstAppenMH2[i], i);
            }
            return htmlAllRows;
        }

        function generateHtmlAppendixRowMK2(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                                <td id="STT" class="text-center">${index + 1}</td>
                                <td>
                                    <input type="number" disabled class="form-control inputText so_luongMH2" onchange="AutoTinhSoLuongChinh(this)" value="${appendix.so_luong == null ? '' : appendix.so_luong}" id="soluongMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText tenMH2" value="${appendix.ten == null ? '' : appendix.ten}" id="tenMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText dinh_luongMH2" onchange="AutoTinhQuyKy(this)" value="${appendix.dinh_luong == null ? '' : appendix.dinh_luong}" id="dinhluongMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText kho_giay_daiMH2" onchange="AutoTinhQuyKy(this)" value="${appendix.kho_giay_dai == null ? '' : appendix.kho_giay_dai}" id="khogiaydaiMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText kho_giay_rongMH2" onchange="AutoTinhQuyKy(this)" value="${appendix.kho_giay_rong == null ? '' : appendix.kho_giay_rong}" id="khogiayrongMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText ma_vat_tuMH2" value="${appendix.ma_vat_tu == null ? '' : appendix.ma_vat_tu}" id="mavattuMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText trangMH2" onchange="AutoTinhDinhMuc(this)" value="${appendix.trang == null ? '' : appendix.trang}" id="trangMH2_${index + 1}"/>
                                </td>
                                <td style="display:none;">
                                    <input type="number" disabled style="display:none;" class="form-control inputText trangMH1" value="${appendix.trangMH1 == null ? '' : appendix.trangMH1}" id="trangMH1MH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText dinh_mucMH2" onchange="AutoTinhSoLuongChinh(this)" value="${appendix.dinh_muc == null ? '' : appendix.dinh_muc.trim()}" id="dinhmucMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText sl_chinhMH2" onchange="AutoTinhSoLuongTong(this)" value="${appendix.sl_chinh == null ? '' : appendix.sl_chinh.trim()}" id="slchinhMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText sl_bu_inMH2" onchange="AutoTinhSoLuongTong(this)" value="${appendix.sl_bu_in == null ? '' : appendix.sl_bu_in}" id="slbuinMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText sl_bu_tpMH2" onchange="AutoTinhSoLuongTong(this)" value="${appendix.sl_bu_tp == null ? '' : appendix.sl_bu_tp}" id="slbutpMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText sl_tongMH2" value="${appendix.sl_tong == null ? '' : appendix.sl_tong.trim()}" id="sltongMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText don_vi_tinhMH2" value="${appendix.don_vi_tinh == null ? '' : appendix.don_vi_tinh}" id="donvitinhMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="number" disabled class="form-control inputText quy_kyMH2" value="${appendix.quy_ky == null ? '' : appendix.quy_ky.trim()}" id="quykyMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText muc_dich_sdMH2" value="${appendix.muc_dich_sd == null ? '' : appendix.muc_dich_sd}" id="mucdichsdMH2_${index + 1}"/>
                                </td>
                                <td>
                                    <input type="text" disabled class="form-control inputText cc_vat_tuMH2" value="${appendix.cc_vat_tu == null ? '' : appendix.cc_vat_tu}" id="ccvattuMH2_${index + 1}"/>
                                </td>
                                <td style="display:none;">
                                    <input type="text" disabled class="form-control inputText loai_giayMH2" value="${appendix.loai_giay == null ? '' : appendix.loai_giay}" id="loaigiayMH2_${index + 1}"/>
                                </td>
                            </tr>`
        }
        /////////////////////////kết thúc bảng dự toán vật tư //////////////////////////////////////


        /////////tự fill bảng SL Tổng LSX///////////////
        function generateHtmlAppendSoLuongTong(lstAppenSLTong) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppenSLTong.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendSLTongRow(lstAppenSLTong[i], i);
            }
            return htmlAllRows;
        }

        function generateHtmlAppendSLTongRow(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" disabled class="form-control inputText Values" value="${appendix.Values == null ? '' : appendix.Values}" />
                            </td>
                        </tr>`
        }
        /////////Kết thúc bảng SL Tổng LSX///////////////


        //////////////////tự fill bảng Quy cách sản phẩm//////////////////
        function generateHtmlQuyCachRowMH3(appendix) {
            return `<tr class="bg-blue" style="background-color: #e9ecef;color: black;">
                            <th class="text-center wrapper" style="width: 200px;vertical-align: middle;border: black solid 1px !important;">
                                ${(appendix[0].ten_nhom_vat_tu == null ? "" : appendix[0].ten_nhom_vat_tu)}
                            </th>
                            <td class="wrapper" style="padding: 0px !important;border: black solid 1px !important;">
                                ${generateDetaislQuyCachMH3(appendix)}
                            </td>
                    </tr>`
        }

        function generateDetaislQuyCachMH3(appendix) {
            var htmlRow = ``;
            for (var i = 0; i < appendix.length; i++) {
                var contentHtml = `${appendix[i].ten}: ${appendix[i].trang} trang ${appendix[i].loai_giay} ${appendix[i].dinh_luong_giay} In ${appendix[i].kieu_in_1}/${appendix[i].kieu_in_2}`
                htmlRow += `<table class="table table-striped table-bordered" style="margin-bottom: 0px !important">
                                <tbody>
                                    <tr class="wrapper">
                                        <td class="wrapper">${contentHtml}</td>
                                    </tr>
                                </tbody>
                            </table>`;
            }
            htmlRow += ``
            return htmlRow;
        }
        /////////////////////Kết thúc bảng Quy cách sản phẩm//////////////////

        ////////tự fill bảng chế phẩm LXS ///////////////////
        function generateHtmlAppendixMH3(lstAppendix) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppendix.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendixRowMH3(lstAppendix[i], i);
            }
            return htmlAllRows;
        }

        function generateHtmlAppendixRowMH3(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" disabled class="form-control inputText ten_tay_in1" value="${appendix.ten_tay_in == null ? '' : appendix.ten_tay_in.trim()}" id="tentayin1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText so_kem1" value="${appendix.so_kem == null ? '' : appendix.so_kem.trim()}" id="sokem1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText so_bo1" value="${appendix.so_bo == null ? '' : appendix.so_bo.trim()}" id="sobo1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText tong1" value="${appendix.tong == null ? '' : appendix.tong.trim()}" id="tong1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText trang1" value="${appendix.trang == null ? '' : appendix.trang.trim()}" id="trang1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_in_dai1" onchange="FillDataKhoInDai(this)" value="${appendix.kho_in_dai == null ? '' : appendix.kho_in_dai.trim()}" id="khoindai1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_in_rong1" onchange="FillDataKhoInRong(this)" value="${appendix.kho_in_rong == null ? '' : appendix.kho_in_rong.trim()}" id="khoinrong1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_kem1" value="${appendix.kho_kem == null ? '' : appendix.kho_kem}" id="khokem1_${index + 1}"/>
                            </td>
                            <td>
                                <input type="text" disabled class="form-control inputText phuong_phap_in1" onchange="FillDataPhuongPhapIn(this)" value="${appendix.phuong_phap_in == null ? '' : appendix.phuong_phap_in}" id="phuongphapin1_${index + 1}"/>
                            </td>
                        </tr>`
        }
        ////////kết thúc bảng chế phẩm LXS ///////////////////

        ////////////////////tự fill bảng in LSX///////////////////
        function generateHtmlAppendixPrint(lstAppendixPrint) {
            var htmlAllRows = '';
            for (var i = 0; i < lstAppendixPrint.length; i++) {
                htmlAllRows = htmlAllRows + generateHtmlAppendixPrintRow(lstAppendixPrint[i], i);
            }
            return htmlAllRows;
        }

        function generateHtmlAppendixPrintRow(appendix, index) {
            return `<tr id="standard_${index + 1}" class="appendixRow">
                            <td id="STT" class="text-center">${index + 1}</td>
                            <td>
                                <input type="text" disabled class="form-control inputText ten_tay_in" value="${appendix.ten_tay_in == null ? '' : appendix.ten_tay_in.trim()}" id="tentayin_${index + 1}"/>
                            </td>
                            <td>
                                <input type="text" disabled class="form-control inputText ten_loai" value="${appendix.ten_loai == null ? '' : appendix.ten_loai.trim()}" id="tenloai_${index + 1}"/>
                            </td>
                            <td>
                                <input type="text" disabled class="form-control inputText dinh_luong_giay_in" value="${appendix.dinh_luong_giay_in == null ? '' : appendix.dinh_luong_giay_in}" id="dinhluonggiayin_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_giay_dai" value="${appendix.kho_giay_dai == null ? '' : appendix.kho_giay_dai}" id="khogiaydai_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_giay_rong" value="${appendix.kho_giay_rong == null ? '' : appendix.kho_giay_rong}" id="khogiayrong_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_in_dai" value="${appendix.kho_in_dai == null ? '' : appendix.kho_in_dai.trim()}" id="khoindai_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText kho_in_rong" value="${appendix.kho_in_rong == null ? '' : appendix.kho_in_rong.trim()}" id="khoinrong_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText chinh" value="${appendix.chinh == null ? '' : appendix.chinh.trim()}" id="chinh_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText bu_in" value="${appendix.bu_in == null ? '' : appendix.bu_in.trim()}" id="buin_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText bu_thanh_pham" value="${appendix.bu_thanh_pham == null ? '' : appendix.bu_thanh_pham.trim()}" id="buthanhpham_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText sl_tong" value="${appendix.sl_tong == null ? '' : appendix.sl_tong.trim()}" id="tenloai_${index + 1}"/>
                            </td>
                            <td>
                                <input type="text" disabled class="form-control inputText phuong_phap_in" value="${appendix.phuong_phap_in == null ? '' : appendix.phuong_phap_in}" id="phuongphapin_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText so_kg" value="${appendix.so_kg == null ? '' : appendix.so_kg.trim()}" id="sokg_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText so_luot_in_quy_doi" value="${appendix.so_luot_in_quy_doi == null ? '' : appendix.so_luot_in_quy_doi.trim()}" id="soluotinquydoi_${index + 1}"/>
                            </td>
                            <td>
                                <input type="number" disabled class="form-control inputText so_luot_in_thuc_te" value="${appendix.so_luot_in_thuc_te == null ? '' : appendix.so_luot_in_thuc_te.trim()}" id="soluotinthucte_${index + 1}"/>
                            </td>
                        </tr>`
        }
        ////////////////////kết thúc bảng in LSX///////////////////

    </script>
}
