@model DKAC.Models.InfoModel.DonHangInfo
@{
    ViewBag.Title = "Nhập liệu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #f9fcff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .table-bordered td, .table-bordered th {
        padding: 5px !important;
    }

    svg:not(:root).svg-inline--fa {
        color: red;
    }

    .lock {
        color: black;
        background-color: white;
        border: none;
    }

    .home {
        color: #1bbd36 !important;
    }

    .inputText {
        padding: 3px !important;
        font-size: 14px !important;
    }
</style>
<head>
    <title>Nhập liệu dự toán vật tư</title>
</head>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 uppercase">
                    <h2>NHẬP LIỆU DỰ TOÁN VẬT TƯ SẢN XUẤT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home home"></i> Home</a></li>
                <li class="active">
                    <span>Nhập liệu</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            <div class="form-group">
                <input type="hidden" class="form-control" id="Id" value="@Model.id" />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>BẢNG DỰ TOÁN VẬT TƯ SẢN XUẤT</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2 text-right">
                        <label>Số LSX: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="so_lenh_sx" value="@Model.so_lenh_sx" />
                    </div>
                    <div class="col-md-4"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Tên khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ma_khach_hang" disabled value="@Model.ma_khach_hang" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Tên sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_san_pham" disabled value="@Model.ten_san_pham" />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Mã sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ma_san_pham" disabled value="@Model.ma_san_pham" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Điều chỉnh lần: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="lan_dieu_chinh" disabled value="@Model.lan_dieu_chinh" />
                    </div>
                </div>

                <hr />

                <!--Bảng nội dung CTP-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    Bảng dự toán vật tư
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="2" style="width:50px">Số lượng</th>
                                            <th class="text-center" colspan="4">Loại vật tư</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Mã vật tư</th>
                                            <th class="text-center" rowspan="2" style="width:50px">Trang/tờ</th>
                                            <th class="text-center" rowspan="2" style="width:70px">Định mức</th>
                                            <th class="text-center" colspan="4">Số lượng</th>
                                            <th class="text-center" rowspan="2" style="width:70px">Đơn vị tính</th>
                                            <th class="text-center" rowspan="2" style="width:70px">Quy ký</th>
                                            <th class="text-center" rowspan="2" style="width:130px">Mục đích sử dụng</th>
                                            <th class="text-center" rowspan="2" style="width:70px">CC vật tư</th>
                                            <th class="text-center" style="width:40px;" rowspan="2">
                                                <a class="btn btn-sm btn-primary lock p5" id="addRowAppendixTable" title="Thêm mới">
                                                    <i class="fa fa-plus"></i>
                                                </a>
                                            </th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" colspan="4">Quy cách</th>
                                            <th class="text-center" style="width:70px">Chính</th>
                                            <th class="text-center" style="width:70px">Bù in</th>
                                            <th class="text-center" style="width:70px">Bù TP</th>
                                            <th class="text-center" style="width:70px">Tổng</th>
                                        </tr>

                                        <tbody id="appendixTbody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <a onclick="goBack()" class="btn btn-primary" style="width: 8%; color:white"><i class="fa fa-arrow-left"></i>  Quay lại</a>
                <a @*onclick=""*@ href="/Material/EditProductionOrder/0" class="btn btn-success" style="width: 8%; color:white">Tiếp  <i class="fa fa-arrow-right"></i></a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>


<script type="text/javascript">
    function goBack() {
        window.history.back();
    }

    //var lstAppendix = model.listContentOfHandoverInfos;
    var lstAppendix = [];

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });

        $("input#Date").on({
            keydown: function (e) {
                if (e.which === 8 || e.which === 46)
                    return true;
                return false;
            },
        });

        var html = generateHtmlAppendix(lstAppendix);
        $('#appendixTbody').html(html);
    });


    function generateHtmlAppendix(lstAppendix) {
        var htmlAllRows = '';
        for (var i = 0; i < lstAppendix.length; i++) {
            htmlAllRows = htmlAllRows + generateHtmlAppendixRow(lstAppendix[i], i);
        }
        return htmlAllRows;
    }

    function generateHtmlAppendixRow(appendix, index) {
        return `<tr id="standard_${index + 1}" class="appendixRow">
                                <td id="STT" class="text-center">${index + 1}</td>
                                <td>
                                    <input type="text" class="form-control inputText SoLuong" value="${appendix.SoLuong == null ? '' : appendix.SoLuong}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText QuyCach1" value="${appendix.QuyCach1 == null ? '' : appendix.QuyCach1}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText QuyCach2" style="width:60px" value="${appendix.QuyCach2 == null ? '' : appendix.QuyCach2}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText QuyCach3" style="width:60px" value="${appendix.QuyCach3 == null ? '' : appendix.QuyCach3}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText QuyCach4" style="width:60px" value="${appendix.QuyCach4 == null ? '' : appendix.QuyCach4}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText MaVT" value="${appendix.MaVT == null ? '' : appendix.MaVT}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Trang" value="${appendix.Trang == null ? '' : appendix.Trang}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText DinhMuc" value="${appendix.DinhMuc == null ? '' : appendix.DinhMuc}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Chinh" value="${appendix.Chinh == null ? '' : appendix.Chinh}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText BuIn" value="${appendix.BuIn == null ? '' : appendix.BuIn}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText BuTP" value="${appendix.BuTP == null ? '' : appendix.BuTP}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText Tong" value="${appendix.Tong == null ? '' : appendix.Tong}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText DVTinh" value="${appendix.DVTinh == null ? '' : appendix.DVTinh}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText QuyKy" value="${appendix.QuyKy == null ? '' : appendix.QuyKy}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText MucDichSD" value="${appendix.MucDichSD == null ? '' : appendix.MucDichSD}" />
                                </td>
                                <td>
                                    <input type="text" class="form-control inputText CCVatTu" value="${appendix.CCVatTu == null ? '' : appendix.CCVatTu}" />
                                </td>
                                <td class="text-center">
                                    <a class="btn btn-sm widget-btn-red red p5 lock remove-row appendix-row" onclick="removeAppendixRow(this)" id="removeAppendixRow_${index + 1}" myid="${index + 1}" title="Xóa">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                </td>
                            </tr>`
    }


    $("#addRowAppendixTable").click(function () {
        var appendix = {
            SoLuong: '',
            QuyCach1: '',
            QuyCach2: '',
            QuyCach3: '',
            QuyCach4: '',
            MaVT: '',
            Trang: '',
            DinhMuc: '',
            Chinh: '',
            BuIn: '',
            BuTP: '',
            Tong: '',
            DVTinh: '',
            QuyKy: '',
            MucDichSD: '',
            CCVatTu: '',
        };
        var htmlRow = generateHtmlAppendixRow(appendix, lstAppendix.length)
        $("#appendixTable #appendixTbody").append(htmlRow);
        lstAppendix.push(appendix);
        if (lstAppendix.length > 1000) {
            $("#addRowAppendixTable").prop("disabled", true);
        }
        else {
            $("#addRowAppendixTable").prop("disabled", false);
        }
    });


    function removeAppendixRow(element) {
        var row = parseInt($(element).attr("myid"));
        $(element).parent().parent().remove();
        lstAppendix.splice(row - 1, 1);
        if (row <= lstAppendix.length) {
            for (r = row + 1; r <= lstAppendix.length + 1; r++) {
                $("#appendixTable #standard_" + r + " #STT").text(row);

                $("#appendixTable #standard_" + r + " .ac").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .ac").attr("myid", "re_" + row);
                $("#appendixTable #standard_" + r + " .ac").attr("id", "ac_" + row);

                $("#appendixTable #standard_" + r + " .re").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .re").attr("myid", "ac_" + row);
                $("#appendixTable #standard_" + r + " .re").attr("id", "re_" + row);

                $("#appendixTable #standard_" + r + " .appendix-row").removeAttr("myid");
                $("#appendixTable #standard_" + r + " .appendix-row").attr("myid", row);
                $("#appendixTable #standard_" + r + " .appendix-row").attr("id", "removeAppendixRow_" + row);

                $("#appendixTable #standard_" + r).attr("id", "standard_" + row);
                row = row + 1;
            }
        }
    }


    function AddOrUpdate() {
        var data = {
            FullName: $('#FullName').val(),
            UserName: $('#UserName').val(),
            PassWord: $('#PassWord').val(),
            Gender: $('#Gender').val().trim(),
            BirthDay: $('#BirthDay').val(),
            RoomId: $('#RoomId').val(),
            Permission: $('#Permission').val(),
            Role: $('#Role').val(),
            Tel: $('#Tel').val(),
            Email: $('#Email').val(),
            CMND: $('#CMND').val(),
            Address: $('#Address').val(),
        };

        var title2 = "Bạn có đồng ý thêm mới không?";
        var url = '/Employee/Add';

        if ($("form#edit").valid()) {
            swal({
                title: title2,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                    window.location.href = '/Employee';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }


</script>
