
@model DKAC.Models.InfoModel.LenhSanXuatInfo
@{
    ViewBag.Title = "Chi tiết";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #f9fcff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    .table-bordered td, .table-bordered th {
        padding: 5px !important;
        vertical-align: middle !important;
    }

    svg:not(:root).svg-inline--fa {
        color: red;
    }

    .lock {
        color: black;
        background-color: white;
        border: none;
    }

    .home {
        color: #1bbd36 !important;
    }

    .inputText {
        padding: 3px !important;
        font-size: 14px !important;
    }

    .form-group {
        margin-bottom: 0;
    }


    margin-top-15 {
        margin-top: 15px !important;
    }

    .modal-header {
        background-color: #0076d2;
        color: white;
    }

    .modal-content {
        border: #d0d0d0 solid 2px !important;
        background-color: #fff7ec;
    }

    .ui-autocomplete {
        z-index: 1000;
    }


    .p-l-0 {
        padding-left: 0px !important;
    }

    .margin-top-10 {
        margin-top: 10px !important;
    }

    .margin-top-40 {
        margin-top: 40px !important
    }
</style>

<head>
    <title>Chi tiết phiếu</title>
</head>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <div class="col-sm-6 uppercase">
                    <h2>LỆNH SẢN XUẤT</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home home"></i> Trang chủ</a></li>
                <li class="active">
                    <span>Chi tiết</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            <div class="form-group">
                <input type="hidden" class="form-control" id="id" value="@Model.id" disabled />
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <h2><label>LỆNH SẢN XUẤT</label></h2>
                    </div>
                    <div class="col-md-2 m-1"></div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Số LSX: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="so_lenh_sx" value="@Model.so_lenh_sx" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Ngày: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="created_date" value="@(Model.created_date.HasValue?Model.created_date.Value.ToString("dd/MM/yyyy") : "")" placeholder="dd/MM/yyyy" disabled />
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Phiếu ĐNSX số: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="phieu_dnsx_so" value="@Model.phieu_dnsx_so" disabled />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>NVKD: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nv_kinh_doanh" value="@Model.nv_kinh_doanh" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Tên khách hàng: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_khach_hang" value="@Model.ten_khach_hang" disabled />
                    </div>
                    <div class="col-md-2 text-right">
                        <label>Tên sản phẩm: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_san_pham" value="@Model.ten_san_pham" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 text-right">
                        <label>Ngày giao hàng: </label>
                    </div>
                    <div class="col-md-4 text-right">
                        <input type="text" class="form-control" id="ngay_giao_hangMH3" value="@(Model.ngay_giao_hang.HasValue ? Model.ngay_giao_hang.Value.ToString("dd/MM/yyyy"): "")" placeholder="dd/MM/yyyy" disabled />
                    </div>
                    <div class="col-md-2 text-right">
                        <label>Nhà cung cấp: </label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="nha_cc" value="@Model.nha_cc" disabled />
                    </div>
                </div>
                <!--Bảng số lượng tổng-->
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 margin-top-10">
                        <table class="table table-striped table-bordered" style="margin-bottom: 0px !important">
                            <tbody>
                                <tr class="bg-blue" style="background-color: #e9ecef;color: black;">
                                    <th class="text-center wrapper" style="width: 200px;vertical-align: middle;border: black solid 1px !important;">
                                        Số lượng: @Model.so_luong_tong
                                    </th>
                                    @if (Model.lst_sl_tong.Count > 0)
                                    {
                                        <td class="wrapper" style="padding: 0px !important;border: black solid 1px !important;">
                                            @foreach (var slTongInfo in Model.lst_sl_tong)
                                            {
                                                <table class="table table-striped table-bordered" style="margin-bottom: 0px !important">
                                                    <tbody>
                                                        <tr class="wrapper">
                                                            <td class="wrapper">@slTongInfo.Values</td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                            }
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <hr />

                <!--I. Quy cách sản phẩm-->

                <div class="row">
                    <div class="col-md-3">
                        <label class="caption-subject sbold uppercase" style="font-size:20px;">
                            <u>I. QUY CÁCH SP</u>
                        </label>
                    </div>
                    <div class="col-md-6">
                        <div class="table-responsive" style="border: 1px solid black !important;">
                            <table class="table table-striped table-bordered" style="border: 1px solid black !important; margin-bottom: 0px" id="tableQuyCachMH3">

                                <tbody id="appendQuyCachTbodyMH3">
                                    @{
                                        foreach (var appendix in Model.lstnhomVatTus)
                                        {
                                            <tr class="bg-blue" style="background-color: #e9ecef;color: black;">
                                                <th class="text-center wrapper" style="width: 200px;vertical-align: middle;border: black solid 1px !important;">
                                                    @appendix.ten_nhom_vat_tu
                                                </th>
                                                <td class="wrapper" style="padding: 0px !important;border: black solid 1px !important;">
                                                    @foreach (var item in appendix.lstVatTus)
                                                    {
                                                        var contentHtml = $"{item.ten}: {item.trang} trang {item.loai_giay} {item.dinh_luong_giay} In ${item.kieu_in_1}/${item.kieu_in_2}";
                                                        <table class="table table-striped table-bordered" style="margin-bottom: 0px !important">
                                                            <tbody>
                                                                <tr class="wrapper">
                                                                    <td class="wrapper">
                                                                        @contentHtml
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                }
                                                </td>
                                            </tr>
                                        }
                                    }
                                    <tr class="bg-blue" style="background-color: #e9ecef;color: black;">
                                        <th class="text-center wrapper" style="width: 200px;vertical-align: middle;border: black solid 1px !important;">
                                            Quy cách chung
                                        </th>
                                        <td class="wrapper" style="padding: 0px !important;border: black solid 1px !important;">
                                            @Model.quy_cach_chung
                                        </td>
                                    </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

                <hr />

                <!--Bảng nội dung Chế bản-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>II. CHẾ BẢN</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="appendixTableMH3">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="2" style="width:250px">Tay in</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Số kẽm</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Số bộ</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Tổng</th>
                                            <th class="text-center" rowspan="2" style="width:150px">Trang/khổ in</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ in</th>
                                            <th class="text-center" rowspan="2" style="width:120px">Khổ kẽm</th>
                                            <th class="text-center" rowspan="2" style="width:150px">PP in</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                        </tr>

                                        <tbody>
                                            @{
                                                var countCB = 0;
                                            }
                                            @foreach (var appendix in Model.lstChiTietCheBans)
                                            {
                                                countCB++;
                                                <tr>
                                                    <td id="STT" class="text-center">@countCB</td>
                                                    <td>
                                                        @(appendix.ten_tay_in == null ? null : appendix.ten_tay_in)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.so_kem == null ? 0.ToString() : appendix.so_kem)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.so_bo == null ? 0.ToString() : appendix.so_bo)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.tong == null ? 0.ToString() : appendix.tong)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.trang == null ? 0.ToString() : appendix.trang)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.kho_in_dai == null ? 0.ToString() : appendix.kho_in_dai)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.kho_in_rong == null ? 0.ToString() : appendix.kho_in_rong)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.kho_kem == null ? 0.ToString() : appendix.kho_kem)
                                                    </td>
                                                    <td class="text-center">
                                                        @(appendix.phuong_phap_in == null ? 0.ToString() : appendix.phuong_phap_in)
                                                    </td>
                                                </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Thời gian giao bản:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="cb_thoi_gian_giao" value="@Model.cb_thoi_gian_giao" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="cb_ghi_chu" value="@Model.cb_ghi_chu" disabled />
                    </div>
                </div>

                <hr />

                <!--Bảng In-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>III. IN</u>
                                </label>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-striped table-bordered info-materials" id="printTable">
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" rowspan="2" style="width:40px">STT</th>
                                            <th class="text-center" rowspan="2" style="width:180px">Tay in</th>
                                            <th class="text-center" rowspan="2" style="width:100px">Loại giấy</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Định lượng</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ giấy</th>
                                            <th class="text-center" colspan="2" style="width:120px">Khổ in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Chính</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Bù in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Bù TP</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Tổng</th>
                                            <th class="text-center" rowspan="2" style="width:100px">PP in</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số kg</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số lượt in quy đổi</th>
                                            <th class="text-center" rowspan="2" style="width:80px">Số lượt in thực tế</th>
                                        </tr>
                                        <tr style="background-color: #0076d2; color: white;">
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                            <th class="text-center" style="width:60px">Dài</th>
                                            <th class="text-center" style="width:60px">Rộng</th>
                                        </tr>

                                        <tbody>
                                            @{
                                                var countIn = 0;
                                            }
                                            @foreach (var appendix in Model.lstChiTietIns)
                                            {
                                                countIn++;
                                            <tr>
                                                <td id="STT" class="text-center">@countIn</td>
                                                <td>
                                                    @(appendix.ten_tay_in == null ? null : appendix.ten_tay_in)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.ten_loai == null ? null : appendix.ten_loai)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.dinh_luong_giay_in == null ? null : appendix.dinh_luong_giay_in)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.kho_giay_dai == null ? "" : appendix.kho_giay_dai)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.kho_giay_rong == null ? "" : appendix.kho_giay_rong)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.kho_in_dai == null ? 0.ToString() : appendix.kho_in_dai)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.kho_in_rong == null ? 0.ToString() : appendix.kho_in_rong)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.chinh == null ? 0.ToString() : appendix.chinh)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.bu_in == null ? 0.ToString() : appendix.bu_in)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.bu_thanh_pham == null ? 0.ToString() : appendix.bu_thanh_pham)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.sl_tong == null ? 0.ToString() : appendix.sl_tong)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.phuong_phap_in == null ? null : appendix.phuong_phap_in)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.so_kg == null ? 0.ToString() : appendix.so_kg)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.so_luot_in_quy_doi == null ? 0.ToString() : appendix.so_luot_in_quy_doi)
                                                </td>
                                                <td class="text-center">
                                                    @(appendix.so_luot_in_thuc_te == null ? 0.ToString() : appendix.so_luot_in_thuc_te)
                                                </td>
                                            </tr>
                                            }
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="in_ghi_chu" value="@Model.in_ghi_chu" disabled />
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <label>Thời hạn giao bán thành phẩm:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="in_thoi_gian_giao" value="@Model.in_thoi_gian_giao" disabled />
                    </div>
                </div>

                <hr />
                <!--IV Thành phẩm-->
                <div class="group">
                    <div class="form-body">
                        <div class="row span">
                            <div class="col-md-12">
                                <label class="caption-subject sbold uppercase" style="font-size:20px;">
                                    <u>IV. THÀNH PHẨM</u>
                                </label>
                            </div>
                        </div>


                    </div>
                </div>


                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top">Thành phẩm chung:</label>
                    </div>

                    <div class="col-md-10">
                        @Html.TextAreaFor(a => a.thanh_pham_chung, new Dictionary<string, object>
                              {
                                  {"class", " form-control"},
                                    {"id", "thanh_pham_chung"},
                                     { "maxlength", "2000" },
                                     { "row", "3" },
                                     { "disabled", "disabled" },
                              })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label class="margin-top">Ghi chú đặc biệt:</label>
                    </div>
                    <div class="col-md-10">
                        @Html.TextAreaFor(a => a.tp_ghi_chu, new Dictionary<string, object>
                              {
                                  {"class", " form-control"},
                                    {"id", "tp_ghi_chu"},
                                     { "maxlength", "2000" },
                                     { "row", "3" },
                                     { "disabled", "disabled" },
                              })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Thời hạn giao thành phẩm:</label>
                    </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" id="tp_thoi_han" value="@Model.tp_thoi_han" disabled />
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-2">
                        <label>Người lập lệnh sản xuất:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_qlMH3" disabled value="@Model.ten_can_bo_ql" />
                    </div>

                    <div class="col-md-2 text-right">
                        <label>Người duyệt:</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" id="ten_can_bo_ktMH3" disabled value="@Model.ten_can_bo_kt" />
                    </div>
                </div>

            </div>
        </form>

        <div class="row" style="margin-top: 15px">
            <div class="col-md-12 text-right">
                <a href="/Material" class="btn btn-primary" style="width: 8%">Quay lại</a>
            </div>
        </div>
    </div>
</div>

<!--Js file-->
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>
<script src="~/Scripts/JSLINQ-vsdoc.js"></script>
<script src="~/Scripts/JSLINQ.js"></script>
