@using System.Collections.Generic
@using DKAC.Models.EntityModel
@model DKAC.Models.RequestModel.DonHangRequestModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var count = 0;
    var data = new List<DonHang>();
    if (Model != null)
    {
        count = Model.pageSize * (Model.page - 1);
        data = (List<DKAC.Models.EntityModel.DonHang>)Model.lstDonHang;
    }
}


<head>
    <title>Nhập liệu</title>
    <style>
        #btnSearch {
            padding: 7px 15px 7px 15px;
        }

        .lbl {
            padding: 0px;
            width: auto;
            margin-top: 8px;
            padding-left: 15px;
        }

        table {
            border: 2px solid #e8e4e4;
        }

        .paging {
            padding: 0px 15px 0px 15px;
            text-align: right;
        }

        ul {
            margin: 0px !important;
        }

        .search-form {
            font-size: small !important;
        }

        .ui-datepicker .ui-datepicker-prev, .ui-datepicker .ui-datepicker-next {
            width: 2.6em !important;
            cursor: default;
        }

            .ui-datepicker .ui-datepicker-prev span, .ui-datepicker .ui-datepicker-next span {
                display: contents !important;
            }
    </style>

</head>


<body>
    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Tìm kiếm thông tin</h2>
                    </div>
                </div>
            </div>
            <form action="@Url.Action("Index", "Material")" id="search-form" method="get">
                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>

                    <div class="col-md-3">
                        <label>Từ khóa: </label>
                        @Html.TextBoxFor(m => m.Keywords, new Dictionary<string, object>
                           {
                               {"class", " form-control"},
                                 {"id", "Keywords"},
                                 {"placeholder", "Nhập số LSX"},
                           })
                    </div>

                    <div class="col-md-3">
                        <label>Từ gian giao từ: </label>
                        @Html.TextBoxFor(m => m.FromDate, new Dictionary<string, object>
                            {
                                {"class", " form-control"},
                                  {"id", "FromDate"},
                                  {"placeholder", "dd/MM/yyyy"},
                            })
                    </div>

                    <div class="col-md-3">
                        <label>Từ gian giao đến: </label>
                        @Html.TextBoxFor(m => m.ToDate, new Dictionary<string, object>
                            {
                                {"class", " form-control"},
                                  {"id", "ToDate"},
                                  {"placeholder", "dd/MM/yyyy"},
                            })
                    </div>

                    <div class="col-md-1"></div>
                </div>

                <div class="row" style="margin-top: 20px;">
                    <div class="col-md-2"></div>
                    <div class="col-md-8 text-center">
                        <button id="btnSearch" class="btn btn-sm btn-primary filter-submit" type="submit">
                            <i class="fa fa-search"></i> Tìm kiếm
                        </button>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </form>
        </div>
    </div>

    <div class="container">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>Quản lý phiếu nhập vật tư</h2>
                    </div>
                    @if (ViewBag.hasAddPermission)
                    {
                        <div class="col-sm-6">
                            <a href="/Material/Edit/0" class="btn btn-success" style="padding: 10px 30px 10px 30px; border-radius: 5px"><i class="fa fa-plus"></i> Thêm mới</a>
                        </div>
                    }
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th class="text-center">STT</th>
                        <th class="text-center" style="width: 100px;">Số LSX</th>
                        <th class="text-center" style="width: 140px;">Mã sản phẩm</th>
                        <th class="text-center">Tên sản phẩm</th>
                        <th class="text-center" style="width: 130px;">Mã khách hàng</th>
                        <th class="text-center">Tên khách hàng</th>
                        <th class="text-center" style="width: 130px;">Nhân viên KD</th>
                        <th class="text-center">Ngày giao hàng</th>
                        <th class="text-center" style="width: 140px;">Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in data)
                    {
                        count++;
                        <tr>
                            <td class="text-center">@count</td>
                            <td class="text-center">@item.so_lenh_sx</td>
                            <td class="text-center">@item.ma_san_pham</td>
                            <td class="text-left">@item.ten_san_pham</td>
                            <td class="text-center">@item.ma_khach_hang</td>
                            <td class="text-left">@item.ten_khach_hang</td>
                            <td class="text-left">@item.nv_kinh_doanh</td>
                            <td class="text-center">@(item.ngay_giao_hang.HasValue ? item.ngay_giao_hang.Value.ToString("dd/MM/yyyy") : "")</td>
                            <td class="text-center">
                                @if (ViewBag.hasViewPermission)
                                {
                                    <a href="/Material/DetailsLSX/@item.id" class="details-link" style="margin-right:8px;color:#00adff" title="Xem Tổng quan đơn hàng"><i class="fa fa-eye"></i></a>
                                    @*<a href="/Material/DonHangDetails/@item.id" class="details-link" style="margin-right:8px;color:#00adff" title="Xem Tổng quan đơn hàng"><i class="fa fa-eye"></i></a>
                                        <a href="/Material/KHVTDetails/@item.id" class="details-link" style="margin-right:8px;color:#00adff" title="Xem KHVT"><i class="fa fa-file"></i></a>
                                        <a href="/Material/LenhSXDetails/@item.id" class="details-link" style="margin-right:8px;color:#00adff" title="Xem Lệnh sản xuất"><i class="fa fa-book"></i></a>*@
                                }
                                @if (ViewBag.hasUpdatePermission)
                                {
                                    <a href="/Material/Edit/@item.id" class="details-link" style="margin-right:8px;color:cornflowerblue" title="Sửa"><i class="fa fa-pen"></i></a>
                                }
                                @if (ViewBag.hasViewPermission)
                                {
                                    <a onclick="printResul(@item.id)" class="details-link" style="margin-right:8px;color:#00adff" title="Xem Tổng quan đơn hàng"><i class="fa fa-print"></i></a>
                                }
                                @if (ViewBag.hasDeletePermission)
                                {
                                    <a onclick="Delete(@item.id)" class="details-link red" style="margin-right:8px;color:red;" title="Xóa"><i class="fa fa-trash"></i></a>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

            <!--Paging-->
            <div class="row paging">
                <div class="col-md-3" style="text-align: left; margin-top: 8px; padding: 0px;">
                    <label>Có tất cả @Model.totalRecord kết quả</label>
                </div>
                <div class="col-md-9" style="padding: 0px;">
                    <ul class="pagination">
                        @{
                            int position;
                            if (Model.page > 1)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Material", new { page = Model.page-1, pageSize = Model.pageSize, KeySearch = Model.Keywords})" tabindex="-1"> << </a>
                                </li>
                            }

                            for (position = 1; position <= Model.totalPage; position++)
                            {

                                if (position == Model.page)
                                {
                                    <li class="page-item active"><a class="page-link" href="@Url.Action("Index", "Material", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                                else
                                {
                                    <li class="page-item"><a class="page-link" href="@Url.Action("Index", "Material", new { page = position, pageSize = Model.pageSize, KeySearch = Model.Keywords })">@position</a></li>
                                }

                            }
                            if (Model.page > 0 && Model.page < Model.totalPage)
                            {
                                <li class="page-item">
                                    <a class="page-link" href="@Url.Action("Index", "Material", new { page = Model.page+1, pageSize = Model.pageSize, KeySearch = Model.Keywords })" tabindex="-1"> >> </a>
                                </li>
                            }

                            if (Model.totalPage == 0)
                            {
                                <li>
                                    <div role="status" aria-live="polite">Không có dữ liệu hiển thị</div>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/Scripts/bootbox.min.js"></script>

<script type="text/javascript">
    function Delete(id) {
        var data = {
            id: id,
        };
        var title = "Bạn có đồng ý xóa dữ liệu này không?";
        var url = '/Material/Delete/';
        swal({
            title: title,
            icon: "warning",
            buttons: {
                ok: "Xác nhận",
                cancel: "Hủy",
            }
        }).then((isConfirm) => {
            if (isConfirm != 'ok') {

            } else {
                $.post(url, data,
                    function (rs) {
                        if (rs.status > 0) {
                            swal({
                                title: "Xóa thành công!",
                                text: "Dữ liệu của bạn đã được cập nhật!",
                                icon: "success",
                            }).then(function (isConfirm) {
                                window.location.href = '/Material';
                            });
                        }
                        else {
                            toastr.error(rs.message);
                        }
                    });
            }
        });
    }

    function printResul(id) {
        viewReportInNewWindow('/Report/ExportExcelBangLSX?id=' + id + '&exportExcel=false#view=FitH');
    }

    function viewReportInNewWindow(url) {
        var params = [
            'left=0',
            'top=0',
            'height=' + window.outerHeight,
            'width=' + window.outerWidth,
            'fullscreen=yes' // only works in IE, but here for completeness
        ].join(',');
        console.log(params);
        var randomnumber = Math.floor((Math.random() * 100) + 1);
        var popup = window.open(url, "_blank", 'popup_window', randomnumber, params);
    }

    $(document).ready(function () {
        $("#FromDate").datepicker({
            todayBtn: "linked",
            language: "it",
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/MM/yy'
        });

        $("#ToDate").datepicker({
            todayBtn: "linked",
            language: "it",
            autoclose: true,
            todayHighlight: true,
            dateFormat: 'dd/MM/yy',
        });

    });
</script>

