@model DKAC.Models.InfoModel.SanPhamInfo

@{
    /**/

    ViewBag.Title = "Thêm mới sản phẩm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    label {
        margin-top: 8px;
        color: #435d7d;
        font-weight: 700;
    }

    .form-group {
        border: 2px solid #afc9e4;
        background: #eef6ff;
        padding: 20px;
    }

        .form-group .row {
            margin-top: 20px;
            margin-bottom: 20px;
        }
</style>

<div class="container">
    <div class="table-wrapper">
        <div class="table-title">
            <div class="row">
                <i class="fa fa-align-left" style="font-size: 25px; margin-top: 6px;"></i>
                <div class="col-sm-6">
                    <h2>Thêm mới sản phẩm</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <ol class="breadcrumb" style="margin-left: 15px;">
                <li style="margin-right: 10px"><a href="/"> <i class="fa fa-home"></i>Home</a></li>
                <li style="margin-right: 10px"><a href="/Employee"><i class="fa fa-list"></i>Danh sách</a></li>
                <li class="active">
                    <span>Thêm mới</span>
                </li>
            </ol>
        </div>

        <form action="" method="post" id="edit">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.HiddenFor(m => m.id, new { @class = "form-control", @id = "Id" })
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Mã sản phẩm: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ma_san_pham, new { @class = "form-control", @id = "ma_san_pham", @maxlength = "20" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ma_san_pham)
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <label>Tên sản phẩm: </label>
                    </div>
                    <div class="col-md-6">
                        @Html.TextBoxFor(m => m.ten_san_pham, new { @class = "form-control", @id = "ten_san_pham", @maxlength = "500" })
                        <div style="margin-top: 10px; color: red; font-style: italic;" id="messageCode">
                            @Html.ValidationMessageFor(m => m.ten_san_pham)
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 col-md-offset-2 text-right">
                <button onclick="Add()" class="btn btn-primary" id="btnLuu" style="width: 10%">Lưu</button>
                <a type="button" class="btn btn-success" href="/SanPham" style="width: 10%">Hủy</a>
            </div>
        </div>
    </div>
</div>
<!--Js file-->
<!-- ~/assets/login/vendor JS-->
<script src="~/assets/login/vendor/select2/select2.min.js"></script>
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>
<script src="~/assets/login/vendor/datepicker/daterangepicker.js"></script>
<script src="~/assets/vendor/jquery/1.7.1/jquery.min.js"></script>
<script src="~/assets/login/vendor/datepicker/moment.min.js"></script>


<script type="text/javascript">

    $(document).ready(function () {
        $("#edit").submit(function () {
            return false;
        });
    });

    $("#ma_san_pham").on({
        keydown: function (e) {
            if (e.which === 32)
                return false;
        },
        change: function () {
            this.value = this.value.replace(/\s/g, "");
        }
    });

    function Add() {
        var data = {
            ma_san_pham: $('#ma_san_pham').val().trim(),
            ten_san_pham: $('#ten_san_pham').val().trim(),
        };

        var title2 = "Bạn có đồng ý thêm mới không?";
        var url = '/SanPham/Add';

        if ($("form#edit").valid()) {
            swal({
                title: title2,
                icon: "warning",
                buttons: {
                    ok: "Xác nhận",
                    cancel: "Hủy",
                }
            }).then((isConfirm) => {
                if (isConfirm != 'ok') {

                } else {
                    $("#btnLuu").attr("disabled", true);
                    $.post(url, data,
                        function (rs) {
                            if (rs.status > 0) {
                                swal({
                                    title: "Cập nhật thành công!",
                                    text: "Dữ liệu của bạn đã được cập nhật!",
                                    icon: "success",
                                }).then(function (isConfirm) {
                                        window.location.href = '/SanPham';
                                });
                            }
                            else {
                                toastr.error(rs.message);
                            }
                        });
                    $("#btnLuu").attr("disabled", false);
                }
            });
        }
    }
</script>
